@import 'node_modules/govuk-frontend/govuk/all';
body {
  font-family: 'GDS Transport', arial, sans-serif;
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.error-heading {
  text-align: center;
  vertical-align: middle;
  margin-top: 70px;
}

.govuk-grid-row {
  margin: 0;
}
.govuk-grid-column-one-half {
  padding: 0;
  margin: 0;
}

.text {
  color: $govuk-text-colour;
}
.text-secondary {
  color: $govuk-secondary-text-colour;
}
.link,
a {
  color: $govuk-link-colour;
  &:hover {
    color: $govuk-link-hover-colour;
  }
  &:visited {
    color: $govuk-link-visited-colour;
  }
  &:active {
    color: $govuk-link-active-colour;
  }
}

.bg-color-red {
  background-color: govuk-colour('red');
}
.bg-color-yellow {
  background-color: govuk-colour('yellow');
}
.bg-color-blue {
  background-color: govuk-colour('blue');
}
.bg-color-dark-blue {
  background-color: govuk-colour('dark-blue');
}
.bg-color-light-blue {
  background-color: govuk-colour('light-blue');
}
.bg-color-purple {
  background-color: govuk-colour('purple');
}
.bg-color-black {
  background-color: govuk-colour('black');
}
.bg-color-dark-grey {
  background-color: govuk-colour('dark-grey');
}
.bg-color-mid-grey {
  background-color: govuk-colour('mid-grey');
}
.bg-color-light-grey {
  background-color: govuk-colour('light-grey');
}
.bg-color-white {
  background-color: govuk-colour('white');
}
.bg-color-light-purple {
  background-color: govuk-colour('light-purple');
}
.bg-color-bright-purple {
  background-color: govuk-colour('bright-purple');
}
.bg-color-pink {
  background-color: govuk-colour('pink');
}
.bg-color-light-pink {
  background-color: govuk-colour('light-pink');
}
.bg-color-orange {
  background-color: govuk-colour('orange');
}
.bg-color-brown {
  background-color: govuk-colour('brown');
}
.bg-color-light-green {
  background-color: govuk-colour('light-green');
}
.bg-color-turquoise {
  background-color: govuk-colour('turquoise');
}
